name: Create module release

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+*

jobs:
  validate_modules:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module:
          - ./
          - example
    name: "Validate ${{ matrix.module }} module"
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: 'moonrepo/setup-toolchain@v0.6'
        with:
          auto-install: true

      - name: Terraform Format check
        id: fmt
        working-directory: ${{ matrix.module }}
        run: terraform fmt -check
        shell: bash

      - name: Terraform Init
        id: init
        working-directory: ${{ matrix.module }}
        run: terraform init
        shell: bash

      - name: Terraform Validate
        id: validate
        working-directory: ${{ matrix.module }}
        run: terraform validate -no-color
        shell: bash

  create_module_release:
    runs-on: ubuntu-latest
    name: "Create GitHub release"
    needs: validate_modules
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: 'moonrepo/setup-toolchain@v0.6'
        with:
          auto-install: true

      - name: Terraform Format check
        id: fmt
        run: terraform fmt -check
        shell: bash

      - name: Terraform Init
        id: init
        run: terraform init
        shell: bash

      - name: Terraform Validate
        id: validate
        run: terraform validate -no-color
        shell: bash

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        if: steps.validate.outputs.exit_code == 0
        with:
          generate_release_notes: true
