name: "Validate Modules"

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

env:
  TERRAFORM_VERSION: "1.14.3"

jobs:
  validate_modules:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module:
          - ./
          - example
    name: "Validate ${{ matrix.module }} module"
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TERRAFORM_VERSION }}

      - name: Terraform Format check
        id: fmt
        working-directory: ${{ matrix.module }}
        run: terraform fmt -check
        shell: bash

      - name: Terraform Init
        id: init
        working-directory: ${{ matrix.module }}
        run: terraform init
        shell: bash

      - name: Terraform Validate
        id: validate
        working-directory: ${{ matrix.module }}
        run: terraform validate -no-color
        shell: bash